.trust-section {
  padding-bottom: 45px;
}

.trust-intro {
  max-width: 760px;
  margin: 0 auto 32px;

  text-align: center;
}

.trust-intro p {
  color: #7b7383;
  /* color: var(--color-primary); */
  /* font-size: 0.76rem; */
  font-weight: 700;
  font-size: 0.86rem;
  line-height: 1.6;
}

.trust-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background: rgba(255, 255, 255, 0.58);
  border: 1px solid rgba(44, 34, 58, 0.09);
  border-radius: 22px;
  box-shadow: 0 18px 45px rgba(46, 35, 64, 0.045);

  backdrop-filter: blur(12px);
}

.trust-item {
  display: flex;
  gap: 13px;

  padding: 24px 21px;

  border-right: 1px solid rgba(44, 34, 58, 0.08);
}

.trust-item:last-child {
  border-right: 0;
}

.trust-icon {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;

  color: #7453d7;
  background: #f0ebff;
  border-radius: 11px;
}

.trust-item h3 {
  color: #302837;

  font-size: 0.78rem;
  font-weight: 600;
}

.trust-item p {
  margin-top: 5px;

  color: #857c8e;

  font-size: 0.69rem;
  line-height: 1.5;
}

@media (max-width: 1100px) {
  .trust-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .trust-item:nth-child(2) {
    border-right: 0;
  }

  .trust-item:nth-child(-n + 2) {
    border-bottom: 1px solid rgba(44, 34, 58, 0.08);
  }
}

@media (max-width: 650px) {
  .trust-grid {
    grid-template-columns: 1fr;
  }

  .trust-item {
    border-right: 0;
    border-bottom: 1px solid rgba(44, 34, 58, 0.08);
  }

  .trust-item:last-child {
    border-bottom: 0;
  }
}